<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1cad54f882.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../public/build/css/book/bookHistory.css">
    <title>Libro</title>
</head>
<body>
    <input type="checkbox" id="check">
    <input type="checkbox" id="checkbox-page1">
    <input type="checkbox" id="checkbox-page2">
    <input type="checkbox" id="checkbox-page3">
    <input type="checkbox" id="checkbox-page4">
    <input type="checkbox" id="checkbox-page5">
    <input type="checkbox" id="checkbox-page6">
    <input type="checkbox" id="checkbox-page7">
    <input type="checkbox" id="checkbox-page8">
    <input type="checkbox" id="checkbox-page9">
    <div class="book">
        <div class="cover">
            <label for="check"></label>
        </div>
        <div class="pages" id="page1">
            <div class="pageFront">
                <h1>Salon Comunal Desarrollo Integral</h1>
                <br>
                <p>
                    En diciembre de 1963, una correntada de lodo y piedras bajo del volcán Irazú y arrasó varios barrios del sector occidental de Cartago. 
                    Fue una noche de estruendos.  El cielo se deshizo en truenos y relámpagos, y la lluvia formó anchos ríos desde la cima del volcán Irazú.  El cauce del rio Reventado tomó una dimensión insospechada.  Corriente abajo iban lodo, rocas y troncos.  Al llegar la avalancha a la parte llana todo lo inundó y lo arrasó. El Reventado sembró el pánico esta madrugada. “dolorosa tragedia nacional”.
                    De esta forma nuestros historiadores nos transmiten los hechos. 
                </p>
                <label class="next" for="checkbox-page1">
                    <i class="fas fa-chevron-right"></i>
                </label>
            </div>
            <div class="backPage">
                <img src="../../../public/build/assets/image/historiaSalonComunal/Salon_Comunal_1.jpeg" alt="#">
                <label class="prev" for="checkbox-page1">
                    <i class="fas fa-chevron-left"></i>
                </label>
            </div>
        </div>
        <div class="pages" id="page2">
            <div class="pageFront">
                <p>
                    Como consecuencia muchas de las familias afectadas de esta tragedia, en su mayoría personas muy humildes que perdieron totalmente su patrimonio, fueron reubicados en el sector de Loyola y El INVU Los Ángeles
                <br><br>
                    Aún tenemos el testimonio de muchos damnificados que viven en el sector del INVU.   Tomando al azar uno de tantos nos cuenta:  “Estaba sola con mis hijos, uno de tres años y la bebé de seis meses.  Un guardia civil tocó el silbato gritando: “Salgan, Salgan”.
                <br><br>
                La emisora Radio Victoria del Señor Emilio Piedra salvó muchas vidas porque incesantemente daba la voz de alerta “avalancha”.   El guarda civil tomó a mi hijo en brazos y nos llevó al asilo, empapados y con solo lo que llevábamos puesto. (Ana Cecilia Calvo) 
                </p>
                <label class="next" for="checkbox-page2">
                    <i class="fas fa-chevron-right"></i>
                </label>
            </div>
            <div class="backPage">
                <img src="../../../public/build/assets/image/historiaSalonComunal/Salon_Comunal_2.jpeg" alt="#">
                <label class="prev" for="checkbox-page2">
                    <i class="fas fa-chevron-left"></i>
                </label>
            </div>
        </div>
        <div class="pages" id="page3">
            <div class="pageFront">
                <p>
                    Gracias a generosas y solidarias aportaciones del gobierno de los Estados Unidos realizados a través de su embajador Raymond Tellez, se logró dar una solución de vivienda a varias familias en lo que se denominó inicialmente “Ciudadela Raymond Téllez” hoy en día conocido como INVU Los Ángeles. 
                    <br><br>
                    La solución fue relativamente rápida, oportuna y constituyó un alivio para las personas que lo habían perdido todo.  Las casas eran sumamente humildes, las calles de lastre, y para los nuevos vecinos, hombres y mujeres honestos, trabajadores y valientes, quedaba una tarea por delante para lograr mejores condiciones de vida. 
                </p>
                <label class="next" for="checkbox-page3">
                    <i class="fas fa-chevron-right"></i>
                </label>
            </div>
            <div class="backPage">
                <img src="../../../public/build/assets/image/historiaSalonComunal/Salon_Comunal_3.jpeg" alt="#">
                <label class="prev" for="checkbox-page3">
                    <i class="fas fa-chevron-left"></i>
                </label>
            </div>
        </div>
        <div class="pages" id="page4">
            <div class="pageFront">
                <p>
                    Es por ello que en los años 1967-1968 los vecinos crearon la primera Asociación Específica cuya finalidad fue dar continuidad al proyecto de provisión de condiciones adecuadas de vida a las familias damnificadas por las Avalanchas provocadas por el Volcán Irazú.  Entre los objetivos estaba claro realizar mejoras en infraestructura, mantenimiento de calles y, en una palabra, crear comunidad.   Mediante el desarrollo de un salón comunal se esperaba proveer a muchas de estas familias de un espacio adecuado para actividades familiares y comunales. 
                </p>
                <label class="next" for="checkbox-page4">
                    <i class="fas fa-chevron-right"></i>
                </label>
            </div>
            <div class="backPage">
                <img src="../../../public/build/assets/image/historiaSalonComunal/Salon_Comunal_4.jpeg" alt="#">
                <label class="prev" for="checkbox-page4">
                    <i class="fas fa-chevron-left"></i>
                </label>
            </div>
        </div>
        <div class="pages" id="page5">
            <div class="pageFront">
                <p>
                    Sin embargo, en este caminar, los fundadores se percatan que las Asociaciones específicas no recibían apoyo del Estado.   Hasta el momento la comunidad se organizó, trabajó y se esforzó para generar fondos con los que se hicieron mejoras y cubrieron necesidades, hasta que, a finales del 71, con el fin de lograr un apoyo estatal para las necesidades de la comunidad, se toma la decisión de unir esfuerzos para pasar a ser una asociación de Desarrollo Integral con lo cual se puede acceder a beneficios para la comunidad a nivel cantonal y nacional, mediante la concesión de fondos públicos. 
                    <br><br>
                    El día 22 de setiembre 1972, hace 50 años, quedó legalmente constituida la Asociación de Desarrollo Integral Los Ángeles e INVU.   Desde entonces han desfilado una gran cantidad de personas altamente comprometidas con nuestra querida Costa Rica, para todos ellos nuestro respeto, admiración y gratitud.
                </p>
                <label class="next" for="checkbox-page5">
                    <i class="fas fa-chevron-right"></i>
                </label>
            </div>
            <div class="backPage">
                <img src="../../../public/build/assets/image/historiaSalonComunal/Salon_Comunal_5.jpeg" alt="#">
                <label class="prev" for="checkbox-page5">
                    <i class="fas fa-chevron-left"></i>
                </label>
            </div>
        </div>
        <div class="pages" id="page6">
            <div class="pageFront">
                <p>
                    La primera Junta directiva fue constituida de la siguiente manera:
                    <br><br>
                    <ul>
                        <li>Presidente  Sr. Mario Zúñiga Chacón</li>
                        <li>Vicepresidente SR. Alfredo Campos Coto</li>
                        <li>Secretario Sr. Boanerges León Cantillano</li>
                        <li>Tesorero Sr. Leonel Campos Solano</li>
                        <li>Fical  Sr. Humberto Coto Jiménez</li>
                        <li>Vocal 2 Sr. Eduardo Segura Cerdas</li>
                        <li>Vocal 3  Sr.  Victor Manuel Villalobos Hernández</li>
                        <li>Vocal 4 Sr. Guillermo Valerin Navarro.</li>   
                    </ul>
                </p>
                <label class="next" for="checkbox-page6">
                    <i class="fas fa-chevron-right"></i>
                </label>
            </div>
            <div class="backPage">
                <img src="../../../public/build/assets/image/historiaSalonComunal/Salon_Comunal_6.jpeg" alt="#">
                <label class="prev" for="checkbox-page6">
                    <i class="fas fa-chevron-left"></i>
                </label>
            </div>
        </div>
        <div class="pages" id="page7">
            <div class="pageFront">
                <p>
                    Los primeros Afiliados:<br><br>
                    <ul>
                        <li> Sra. Flor Solano Bonilla</li>
                        <li>Sra. Silvia Arrieta Zeledón</li>
                        <li>Sra. Bertilia Angulo Ramírez</li>
                        <li>Sr. Abel Abarca Araya.</li> 
                    </ul>
                </p>
                <label class="next" for="checkbox-page7">
                    <i class="fas fa-chevron-right"></i>
                </label>
            </div>
            <div class="backPage">
                <img src="../../../public/build/assets/image/historiaSalonComunal/Salon_Comunal_7.jpeg" alt="#">
                <label class="prev" for="checkbox-page7">
                    <i class="fas fa-chevron-left"></i>
                </label>
            </div>
        </div>
        <div class="pages" id="page8">
            <div class="pageFront">
                <p>
                    Don Abel Abarca jugó un papel fundamental para la edificación del salón comunal junto con otras juntas directivas y valiosos vecinos y organizaciones, que aportaron ayuda económica, esfuerzo y hasta su buen nombre para fiar la solicitud de préstamo de 150.000 colones que costó en su momento el Salón comunal, tal es el caso del Señor Mario Sánchez Morales.    Personas como don Antonio Obando y don  Antonio Gamboa trabajaron incansablemente por la comunidad. 
                </p>
                <label class="next" for="checkbox-page8">
                    <i class="fas fa-chevron-right"></i>
                </label>
            </div>
            <div class="backPage">
                <img src="../../../public/build/assets/image/historiaSalonComunal/Salon_Comunal_8.jpeg" alt="#">
                <label class="prev" for="checkbox-page8">
                    <i class="fas fa-chevron-left"></i>
                </label>
            </div>
        </div>
        <div class="pages" id="page9">
            <div class="pageFront">
                <p>
                    Como un valioso legado la comunidad de vecinos, liderada por la Asociación de Desarrollo Integral vela hasta el día de hoy, por salvaguardar el patrimonio de la comunidad y resolver las situaciones que deben ser atendidas, individuales y comunitarias, según las diferentes épocas, desde infraestructura hasta seguridad. 
                </p>
            </div>
            <div class="backPage">
                <img src="../../../public/build/assets/image/galeria/26.jpeg" alt="#">
                <label class="prev" for="checkbox-page9">
                    <i class="fas fa-chevron-left"></i>
                </label>
            </div>
        </div>
        <div class="backCover"></div>
    </div>
</body>
</html>